@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(235, 242, 248);
  padding: 80px 0 80px 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.pop-up {
  width: 350px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 40px;
}

.pop-up__img {
  width: 40%;
  margin-top: 20px;
}

.pop-up__text {
  font-size: 0.9rem;
  font-weight: 700;
  text-align: center;
  padding: 20px;
}

.pop-up__button {
  padding: 10px 35px;
  font-size: 0.75rem;
  border: none;
  background-color: #ed6755;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0px 10px 20px -6px rgba(247, 154, 139, 0.6);
}

.pop-up__button:hover {
  transform: scale(1.1);
  transition: all 0.1s ease;
}

.pop-up__buttonX {
  position: absolute;
  left: 300px;
  top: 20px;
  border: none;
  background-color: #ffffff;
  color: rgb(197, 203, 209);
}

.pop-up__x {
  font-size: 1.5rem;
}

.pop-up__x:hover {
  color: #6c7f9a;
  cursor: pointer;
}

.img2 {
  width: 21%;
}

.text2 {
  width: 70%;
}

.button2 {
  background-color: #2e3c50;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 12px 40px;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -6px #2e3c50;
}
